@charset "UTF-8";

body {
    color: #000000;
    background-color: #ffe4c4;
    border: 0.5em solid #3cff00d3;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2em;
    text-align: justify;
    text-align: center;
    align-items: center;  

}

h1 {
    text-align: center;
    color: #2d24b3d2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #ff0000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: #66ff00;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    color: #0400ff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    color: #00fff2;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h6{
    color: #181818;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button {
    font-size: 1em;

}
mark {
    color: #ff0000; background-color: #ffffff;
    font-weight: bold;

}
.pi {
    font-weight: bolder;
    color: #ff0000;
}

table {
    margin: 0 auto; /* <-- centraliza na horizontal */
    border-collapse: collapse;
    width: 300%;
    max-width: 900px;
    background-color: #ffffff;
    border: 5px solid #66ff66;
    box-shadow: 0px 0px 10px #0000001a;
}

th {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}